name: release

on:
  push:
    tags:
      - "*.*.*"
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-publish
  cancel-in-progress: true

jobs:
  build:
    if: ${{ ! github.event.pull_request.draft == true }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml
      - run: uv build
      - name: Upload sdist
        uses: actions/upload-artifact@v4
        with:
          name: wheels-sdist
          path: dist

  publish:
    if: startsWith(github.ref, 'refs/tags/') || github.event_name == 'workflow_dispatch'
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - if: startsWith(github.ref, 'refs/tags/')
        name: Check tag matches PEP440
        run: |
          pep440="^(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)\.(0|[1-9][0-9]*)(a|b|rc)?[0-9]*(\.(post|dev)[0-9]+)*$"
          tag="${{ github.ref_name }}"
          [[ $tag =~ $pep440 ]]
        shell: bash
      - uses: actions/download-artifact@v7
        with:
          name: wheels-sdist
          path: dist
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
